<!-- Extection to the template.html file -->
{% extends "template.html" %}

<!-- Title Block -->
{% block title %}Homepage{% endblock %}

<!-- Link to home page -->
{% block logo %}<a href="{{url_for('home')}}">DetectX</a>{% endblock %} {% block
Home %}<a href="{{url_for('home')}}">Home</a>{% endblock %}

<!-- To get Feedback tab in nav bar -->
{% block feedback %}<a href="{{url_for('Feedback')}}">Feedback</a>{% endblock %}

<!-- To get Feedback in dropdown menu (smartphone mode) -->
{% block drop_feedback %}<a href="{{url_for('Feedback')}}">Feedback</a>{%
endblock %} {% block GB_btn %}
<!-- Get Started Button Block -->
<a href="{{url_for('GetStarted')}}" class="action_btn">Get Started</a>

<!-- Logout Button Block -->
<a href="{{url_for('Logout')}}" class="action_btn">Logout </a>

{% endblock %}

<!-- Dropdown Block -->
{% block dropdown%}
<li>
  <a href="{{url_for('GetStarted')}}" class="action_btn">Get Started</a>
</li>
<li>
  <a href="{{url_for('Logout')}}" class="action_btn">Logout</a>
</li>
{% endblock%}

<!-- Main Block -->
{% block main %}
<section id="Home">
  <h1>Welcome</h1>
  <p>
    <br />
    This is an object detection service.<br />To upload you images for detection
    press Get Started.
  </p>
</section>
{% endblock %}
